<div class='container'>
  <h1>List of Links</h1>
  <ul class='list-group'>
    <% @short_links.each do |item| %>
      <li class='list-group-item'>
        <p>Shortened URL: <%= link_to item.short_url, item.short_url, target: "_blank" %></p>
        <p>Original URL: <%= link_to item.original_url, item.original_url %> </p>
      </li>
    <% end %>
  </ul>
</div>
<div style='padding-top: 2rem;'>
  <%= link_to 'Back to Home', new_short_link_path , class: 'btn btn-primary' %>
</div>
