<div>
  <h1>This is the show page</h1>
  <br>
  <h2>Original Url:</h2>
  <a href=><%= @short_link.original_url %></a>
  <br>
  <h2>Url Slug:</h2>
  <%= @short_link.slug %>
  <h2>Page Visits</h2>
  <%= @short_link.view_count %>
</div>
