<h1>Admin Show Page</h1>
<h2>Original Url:</h2>
<%= link_to @short_link.original_url, @short_link.original_url  %>
<br>
<h2>Page Visits</h2>
<%= @short_link.view_count %>
<p>
  <strong>Active:</strong>
  <%= @short_link.active %>
  <br>
<%= link_to "#{ @short_link.active ? 'Enabled': 'Disabled'  }", toggle_active_status_admin_short_link_path(@short_link), method: :patch, remote: :true, class: "btn btn-xs btn-#{ @short_link.active ? 'success' : 'warning' }"  %>
</p>
